In [1]:
#Задание 1**
#Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
#- оценка 2 и меньше - низкий рейтинг
#- оценка 4 и меньше - средний рейтинг
#- оценка 4.5 и 5 - высокий рейтинг

#Результат классификации запишите в столбец class

In [5]:
import pandas as pd

In [3]:
df = pd.read_csv('ratings.csv')
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
userId       100004 non-null int64
movieId      100004 non-null int64
rating       100004 non-null float64
timestamp    100004 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [5]:
def ratings (param):
    if param >= 4.5:
        return "высокий рейтинг" 
    elif param < 4.5 and param > 2:
        return "средний рейтинг"
    elif param <= 2:
        return "низкий рейтинг"
    return

In [6]:
df['class'] = df['rating'].apply(ratings)

In [7]:
df.head(50)

    userId  movieId  rating   timestamp            class
0        1       31     2.5  1260759144  средний рейтинг
1        1     1029     3.0  1260759179  средний рейтинг
2        1     1061     3.0  1260759182  средний рейтинг
3        1     1129     2.0  1260759185   низкий рейтинг
4        1     1172     4.0  1260759205  средний рейтинг
5        1     1263     2.0  1260759151   низкий рейтинг
6        1     1287     2.0  1260759187   низкий рейтинг
7        1     1293     2.0  1260759148   низкий рейтинг
8        1     1339     3.5  1260759125  средний рейтинг
9        1     1343     2.0  1260759131   низкий рейтинг
10       1     1371     2.5  1260759135  средний рейтинг
11       1     1405     1.0  1260759203   низкий рейтинг
12       1     1953     4.0  1260759191  средний рейтинг
13       1     2105     4.0  1260759139  средний рейтинг
14       1     2150     3.0  1260759194  средний рейтинг
15       1     2193     2.0  1260759198   низкий рейтинг
16       1     2294     2.0  1260759108   низкий рейтинг
17       1     2455     2.5  1260759113  средний рейтинг
18       1     2968     1.0  1260759200   низкий рейтинг
19       1     3671     3.0  1260759117  средний рейтинг
20       2       10     4.0   835355493  средний рейтинг
21       2       17     5.0   835355681  высокий рейтинг
22       2       39     5.0   835355604  высокий рейтинг
23       2       47     4.0   835355552  средний рейтинг
24       2       50     4.0   835355586  средний рейтинг
25       2       52     3.0   835356031  средний рейтинг
26       2       62     3.0   835355749  средний рейтинг
27       2      110     4.0   835355532  средний рейтинг
28       2      144     3.0   835356016  средний рейтинг
29       2      150     5.0   835355395  высокий рейтинг
30       2      153     4.0   835355441  средний рейтинг
31       2      161     3.0   835355493  средний рейтинг
32       2      165     3.0   835355441  средний рейтинг
33       2      168     3.0   835355710  средний рейтинг
34       2      185     3.0   835355511  средний рейтинг
35       2      186     3.0   835355664  средний рейтинг
36       2      208     3.0   835355511  средний рейтинг
37       2      222     5.0   835355840  высокий рейтинг
38       2      223     1.0   835355749   низкий рейтинг
39       2      225     3.0   835355552  средний рейтинг
40       2      235     3.0   835355664  средний рейтинг
41       2      248     3.0   835355896  средний рейтинг
42       2      253     4.0   835355511  средний рейтинг
43       2      261     4.0   835355681  средний рейтинг
44       2      265     5.0   835355697  высокий рейтинг
45       2      266     5.0   835355586  высокий рейтинг
46       2      272     3.0   835355767  средний рейтинг
47       2      273     4.0   835355779  средний рейтинг
48       2      292     3.0   835355492  средний рейтинг
49       2      296     4.0   835355395  средний рейтинг

In [8]:
#Задание 2
#Используем файл keywords.csv.
#Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. 
#Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. 
#Если поисковый запрос не содержит названия города, то ставим ‘undefined’.
#Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
#geo_data = {
#'Центр': ['москва', 'тула', 'ярославль'],
#'Северо-Запад': ['петербург', 'псков', 'мурманск'],
#'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
#}
#Результат классификации запишите в отдельный столбец region.

In [9]:
key = pd.read_csv('keywords.csv')
key.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [10]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'], 'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [11]:
def geo (row):
    for i, v in geo_data.items():
        for el in v:
            if row == el:
                return i     
    return 'undefined'

In [12]:
key['region'] = key['keyword'].apply(geo)

In [13]:
key.head(200)

             keyword     shows     region
0                 вк  64292779  undefined
1      одноклассники  63810309  undefined
2              порно  41747114  undefined
3               ютуб  39995567  undefined
4          вконтакте  21014195  undefined
..               ...       ...        ...
195          торрент    716336  undefined
196   порно рассказы    729707  undefined
197  погода в москве    745745  undefined
198         слизарио    715083  undefined
199               е1    705533  undefined

[200 rows x 3 columns]

In [14]:
#Вопрос:как теперь сгруппировать по новому столбцу ('region') и записать кол-во в отдельный столбец?
key1 = key.groupby('region').count (). reset_index. head()

AttributeError: 'function' object has no attribute 'head'

Задание 3 (бонусное)
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [3]:
import numpy as np

In [6]:
films = pd.read_csv('ratings.csv')

In [ ]:
films.head()

In [7]:
import datetime

In [8]:
def data (row):
    timestamp = datetime.datetime.fromtimestamp(row)
    return timestamp.strftime('%Y-%m-%d')

In [9]:
films['date'] = films['timestamp'].apply(data)

In [ ]:
films.head()

In [29]:
years = str(np.arange(1950, 2011))

In [37]:
for i in years.split():
    print(i)

[1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010]

In [11]:
movies = pd.read_csv('movies.csv')

In [ ]:
movies.head()

In [12]:
movies1 = movies.merge(films)

In [ ]:
movies1.head()

In [23]:
def word (row):
    row = row.replace('(', '')
    row = row.replace(')', '')
    return row

In [24]:
movies1['word'] = movies1['title'].apply(word)
movies1.head()

,movieId,title,genres,userId,rating,timestamp,date,word
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703,1996-12-29,Toy Story 1995
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179,1999-09-29,Toy Story 1995
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058,2012-03-10,Toy Story 1995
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310,2001-08-16,Toy Story 1995
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091,1997-02-06,Toy Story 1995

In [39]:
def production_year (param):
    for i in years.split():
        if i in param:
            return i
    return '1900'

In [40]:
movies1['year'] = movies1['word'].apply(production_year)

In [41]:
movies1.head()

,movieId,title,genres,userId,rating,timestamp,date,word,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703,1996-12-29,Toy Story 1995,1995
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179,1999-09-29,Toy Story 1995,1995
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058,2012-03-10,Toy Story 1995,1995
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310,2001-08-16,Toy Story 1995,1995
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091,1997-02-06,Toy Story 1995,1995

In [43]:
movies1.groupby('year').agg('mean')['rating'].sort_values(ascending=False).head()

year
1957    4.067797
1952    4.061538
1954    4.044343
1972    4.029621
1974    4.001934
Name: rating, dtype: float64